---
---
$color: {{ site.color }};
$white: #FFF;
$black: #333;
* {
    font-family: "Mplus 1p";
    color: $black;
}
p {
    font-weight: 400;
    transform: rotate(0.05deg);
}
a {
    color: $color;
    text-decoration: none;
}
body {
    background: $white;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: $color;
    h1 {
        font-weight: 100;
        text-align: center;
    }
    a {
        color: $white;
    }
    nav ul {
        list-style: none;
    }
    small {
        color: $white;
        font-size: 8px;
        margin-left: 40px;
    }
}
main {
    margin-left: 320px;
    max-width: 700px;
    nav ul {
        display: flex;
    }
}
article {
    margin: 20px 0px;
    padding: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    h2 a {
        font-weight: 900;
        font-size: 32px;
        color: $black;
        &:hover {
            color: $color;
        }
    }
    p {
        font-size: 16px;
        line-height: 1.5;
    }
}
