---
---
$color: {{ site.color }};
* {
    font-family: "Mplus 1p";
}
p {
    font-weight: 400;
    transform: rotate(0.05deg);
}
a {
    color: $color;
    text-decoration: none;
}
body {
    display: flex;
}
header {
    width: 300px;
    background: $color;
    a {
        color: #FFFFFF;
    }
}
main {
    flex: 1;
    order: 2;
}
