---
---
$color: #0066FF;

* {
    font-family: "Mplus 1p";
}
body {
    background: $color;
    min-height: 100%;
}
header {
    a {
        color: #FFFFFF;
    }
}
p {
    font-weight: 400;
    transform: rotate(0.05deg);
}
a {
    color: $color;
    text-decoration: none;
}
main {
    background: #FFFFFF;
}
