---
---

$theme: {{ site.color }};
$white: #FFF;
$text: #CCC;
$back: #222;
a {
    color: $theme;
    text-decoration: none;
}
body {
    background: $back;
    color: $text;
}
header {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: $theme;
    background-size: cover;
    h1 {
        margin: 0;
        padding-top: 20px;
        font-weight: 600;
        text-align: center;
    }
    a {
        color: $white;
    }
    nav ul {
        list-style: none;
        margin: 0;
        margin-top: 10px;
        display: flex;
    }
    small {
        color: $white;
        font-size: 8px;
        display: block;
        text-align: center;
    }
}
main {
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 640px;
    nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
        li {
            font-size: 20px;
            margin-left: 10px;
            margin-right: 10px;
            a {
                transition: 0.1s;
                display:inline-block;
                background: $theme;
                color: $white;
                padding: 10px 30px;
                border-radius: 999px;
                box-shadow:
                    0px 2px 5px rgba(0, 0, 0, 0.5),
                    0px 2px 0px rgba($theme / 2, 1);
                &:hover {
                    transform: translateY(2px);
                    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}
article {
    margin: 20px 0px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    h2 a {
        font-weight: 900;
        font-size: 40px;
        color: $text;
        &:hover {
            color: $theme;
        }
    }
    time {
        font-size: 10px;
    }
    p {
        font-size: 20px;
        line-height: 1.5;
        a {
            text-decoration: underline;
        }
    }
    img {
        display: block;
        width: 100%;
    }
    &>a {
        transition: 0.1s;
        display:inline-block;
        background: $white;
        color: $theme;
        font-size: 15px;
        font-weight: bold;
        padding: 10px 30px;
        border-radius: 999px;
        box-shadow:
            0px 2px 5px rgba(0, 0, 0, 0.5),
            0px 2px 0px rgba($white / 2, 1);
        &:hover {
            transform: translateY(2px);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
        }
    }
    .YouTube {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 56.25%;
        margin: 30px 0px;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
