.highlight .k {
    color: #18f;
}
.highlight .kt {
    color: #18f;
}
.highlight .kr {
    color: #18f;
}
.highlight .nb {
    color: #18f;
}
.highlight .o {
    color: #888;
}
.highlight .p {
    color: #888;
}
.highlight .cp {
    color: #888;
}
.highlight .nf {
    color: #088;
}
.highlight .mi {
    color: #f60;
}
.highlight .mf {
    color: #f60;
}
.highlight .s {
    color: #f60;
}