<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="theme-color" content="{{ site.theme_color }}" />
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" />
        <link rel="alternate" type="application/rss+xml" title="フィード" href="/feed.xml" />
    </head>
    <body>
        {{ content }}
    </body>
</html>
