<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="UTF-8" />
        <meta name="theme-color" content="{{ site.color }}" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% if page.id %}
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content='{{ page.excerpt }}' />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta property="og:image" content="{{ site.url }}/assets/icon256.png" />
        {% endif %}
        
        <title>{{ page.title }}</title>
        
        <link rel="stylesheet" href="/assets/css/normalize.css" />
        <link rel="stylesheet" href="/assets/css/baguetteBox.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="icon" href="/assets/icon256.png" />
        
        <script src="/assets/script/baguetteBox.min.js" defer=""></script>
        <script src="/assets/script/utility.js" defer=""></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122720908-2"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag("js", new Date());
        gtag("config", "UA-122720908-2");
        </script>
    </head>
    <body>
        <header>
            <h1><a href="/">windblow</a></h1>
            <small>© 2017 windblow</small>
            <nav>
                <ul>
                    <li><a href="/">トップ</a></li>
                    <li><a href="/StickyCat">Sticky Cat</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{ content }}
        </main>
    </body>
</html>
