---
layout: outline
---
<article>
    <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
    <time>{{ page.date | date: "%Y/%m/%d" }}</time>
    {{ content }}
    <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}" target="_blank">Twitter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">Facebook</a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank">Google+</a>
</article>
